@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;/*16px*/
  width: 100%;
  scroll-behavior: smooth;
}

h1 {
  color: var(--foreground);
  font-size: 3rem;
  font-weight: 700;
}

p {
  color: var(--foreground);
  font-weight: 400;
  font-size: 1.1875rem;
}

body {
  line-height: 1.5;
  letter-spacing: 0.12rem;
  word-spacing: 0.16rem;
  background: var(--body);
}

header {
  display: flex;
  justify-content: center;
}

footer {
  background-color: var(--background);
}

.footerContent {
  width: 75%;
  margin: auto;
}

footer a {
  color: var(--accent);
}

nav {
  width: 100%;
  padding: 0 12.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  height: 5rem;
  background-color: var(--background);
}

nav button {
  cursor: pointer;
}

button {
  height: 2rem;
  font-size: 1.4375rem;
  background-color: transparent;
  color: var(--foreground);
  position: relative;
}

/* hover animasjon https://codepen.io/pen*/
button::after {
  content: '';
  position: absolute;
  width: 100%;
  opacity: 0;
  transform: scaleX(0);
  height: 0.375rem;
  bottom: 0;
  left: 0;
  border-radius: 3.125rem;
  background-color: var(--accent);
  transform-origin: bottom left;
  transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
}

button:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  opacity: 1;
}

button:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  opacity: 1;
}

article p+p {
  margin-top: 2rem;
}

article h1+p {
  margin-top: 2rem;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section section {
  width: 75%;
  gap: 2rem;
}

section section img {
  width: 50%;
}

article {
  background-color: var(--background);
  padding: 2rem;
  border-radius: 1.25rem;
  width: 50%;
}

iframe {
  width: 100%;
  height: 70vh;
  border-radius: 1.25rem;
}



.hidden {
  opacity: 0;
  filter: blur(0.3125rem);
  transform: translate(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.showDelay {
  transition-delay: 200ms;
}

::-webkit-scrollbar {
  width: 0.375rem;
}

::-webkit-scrollbar-track {
  background: var(--background);
  height: 5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--foreground);
  border-radius: 1.25rem;
}

@media screen and (max-width: 1000px) {
  section {
    flex-direction: column;
  }

  section section {
    width: 95%;
    gap: 2rem;
  }

  article {
    width: 100%;
    padding: 1rem;
  }

  .showDelay {
    transition-delay: 0ms;
  }

  h1 {
    font-size: 2rem;
  }

  button {
    height: 1rem;
    font-weight: 700;
  }

  button::after {
    display: none;
  }

  p {
    font-size: 1rem;
  }
}