html {
  font-size: 100%; /*16px*/
}

header::after {
  content: '';
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.5;
  letter-spacing: 0.12rem;
  word-spacing: 0.16rem;
  background-color: var(--background);
}

.text-formating-buttons {
  position: fixed;
  background-color: var(--background);
  padding: 16px;
  width: 100%;
  border-bottom: 2px solid var(--foreground);
}

button img {
  color: var(--foreground);
}

.text-formating-buttons button img {
  height: 32px;
  width: 32px;
}

.text-formating-buttons button {
  padding: 8px;
  background-color: transparent;
}

.text-formating-buttons select {
  background-color: transparent;
  color: var(--foreground);
  height: 48px;
}

.text-formating-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

option {
  background-color: var(--background);
  margin: 0 8px;
}

#text-editor {
  width: 100%;
  min-height: 450px;
  height: fit-content;
  color: var(--foreground);
  margin: 0 auto;
  text-align: left;
  caret-color: var(--foreground);
  padding: 16px;
  display: block !important;
  overflow-wrap: break-word;
}

[contenteditable] {
  outline: 0px solid transparent;
}

#text-editor div + div {
  margin-top: 2rem;
}

#text-editor img + div {
  margin-top: 2rem;
}

#text-editor div + img {
  margin-top: 2rem;
}

#text-editor img + img {
  margin-top: 2rem;
}

#text-editor div img {
  width: 50%;
}

#text-editor img {
  margin-left: auto;
  padding-left: 20px;
}

/* Inspirasjon for drop down pil https://stackoverflow.com/questions/14218307/select-arrow-style-change */
#font-select {
  appearance: none;
  background-image: url(../assets/arrow_drop_down_test.svg);
  background-repeat: no-repeat;
  background-position: right 0;
  padding-right: 48px;
}

#style-select {
  appearance: none;
  background-image: url(../assets/arrow_drop_down_test.svg);
  background-repeat: no-repeat;
  background-position: right 0;
  padding-right: 48px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--background);
  height: 80px;
}

::-webkit-scrollbar-thumb {
  background: var(--foreground);
  border-radius: 20px;
}
